# Build and Bins
.gradle/
build/
bin/
classes/
out/
run/*

# IDEs
.classpath
.project
.settings/
eclipse/
.idea/
*.iml
*.ipr
*.iws

# System
Thumbs.db
.DS_Store

# Flan's Mod
!run/Flan/
run/Flan/Parts Pack/assets/flansmod/.DS_Store

run/Flan/.DS_Store

run/Flan/Modern Weapons Pack/.DS_Store

run/Flan/Parts Pack/.DS_Store

run/Flan/Parts Pack/assets/.DS_Store

run/Flan/Parts Pack/assets/flansmod/textures/.DS_Store

run/Flan/Utility Pack/.DS_Store

run/Flan/WW2 Pack/.DS_Store

run/Flan/WW2 Pack/boxes/.DS_Store
*.launch

src/main/java/com/flansmod.*/
src/main/java/com/flansmod/SyncToy_92bff3cc-2432-44a2-b020-272bb8900caa.dat
src/main/resources/assets/flansmod/SyncToy_749fd55a-c185-4b5b-882f-fe971504195e.dat
